perfil {
	.perfil .avatar {
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	  width: 100px;
	  height: 100px;
	  background-size: cover;
	  border-radius: 50%;
	  border: 1px solid color($colors,primary);
	  margin: auto;
	  margin-top: 30px;
	  margin-bottom: 25px;
	  position: relative;
	}
	.perfil .avatar a {
	  display: block;
	  width: 100px;
	  height: 100px;
	}
	.perfil .avatar-edit {
	  position: absolute;
	  right: -10px;
	  bottom: -10px;
	  background-color: color($colors,primary);
	  width: 40px;
	  height: 40px;
	  border-radius: 50%;
	}
	.perfil .avatar-edit .lipi-icon {
	  color: color($colors, secondary);
	  font-size: 43px;
	  margin-top: -2px;
	  margin-left: -7px;
	  border-radius: 50%;
	}
	.perfil .nombre {
	  font-family: 'AvenirHeavy';
	  color: color($colors,secondary);
	  font-size: 1.1em;
	  margin-top: 10px;
	  text-align:center;
	}
	.perfil .cargo {
	  color: color($colors,secondary);
	  font-size: 1.1em;
	  text-align:center;
	  margin-bottom: 25px;
	}
	.perfil .item-note {
		border-radius: 50%;
		text-align:center;
		background-color: color($colors,primary);
	    top: 0;
	    position: absolute;
	    right: 0;
	}
	.perfil .item {
		font-size: 1em;
		margin: 0;
		padding: 0;
	}
	.perfil .item-inner {
		border: 0 !important;
	}
	.perfil .item-note .lipi-icon {
	    margin-left: -4px;
	    margin-right: 4px;
	}
	.perfil button {
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
	}
	.perfil button .button-inner { color: color($colors,secondary); }
	.perfil input {
	    border: 1px solid color($colors, light);
	    padding: 8px;
	    font-size: 1.4em;
	    display: block;
	    margin-top: 6px;
	    width: 80%;
	}
	.perfil .passwordLabel {
		color: color($colors,dark);
	}
	.perfil .passwordInput input {
		width: 100%;
	}
}
